<div class="jumbotron">
<h1>Sobre la aplicacion</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio facere consectetur voluptate? Quis beatae mollitia amet qui quod nam asperiores voluptatem excepturi quam inventore, repellat dolore iste, impedit maxime!
Reprehenderit pariatur earum adipisci culpa eius in tempore, voluptate ipsum veniam quas aliquam iste harum, saepe nisi neque nihil sunt excepturi accusamus maiores omnis ducimus! Et dolorum provident laudantium earum.
Placeat, nesciunt facilis blanditiis quia dicta explicabo praesentium impedit cupiditate eos? Illum corrupti dolores quaerat sequi velit delectus inventore aperiam suscipit. Porro itaque atque animi vitae deserunt est cumque possimus.</p>
</div>
